.key {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  min-height: 63px;
  padding: 13px;
  text-transform: uppercase;
  color: var(--text-color);
  background-color: var(--key-light-bg);
  border: none;
  border-radius: 8px;
  box-shadow: inset 0 -4px 0 0 var(--key-light-shadow);

  cursor: pointer;

  transition: color $transition-default,
    background-color $transition-default,
    box-shadow $transition-default;

  span {
    transition: transform $transition-default;
  }

  &:hover,
  &:focus {
    box-shadow: inset 0 4px 0 0 var(--key-light-shadow);

    outline: none; 

    span {
      transform: translateY(4px);
    }
  }

  &--dark {
    font-size: 16px;  
    color: var(--text-contrast-color);
    background-color: var(--key-bg);
    box-shadow: inset 0 -4px 0 0 var(--key-shadow);

    &:hover,
    &:focus {
      box-shadow: inset 0 4px 0 0 var(--key-shadow);
    }
  }

  &--bright {
    font-size: 16px;  
    color: var(--text-contrast-color);
    background-color: var(--key-conrast-bg);
    box-shadow: inset 0 -4px 0 0 var(--key-conrast-shadow);

    &:hover,
    &:focus {
      box-shadow: inset 0 4px 0 0 var(--key-conrast-shadow);
    }
  }
}