.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 14px;
  margin: 0;
  padding: 24px;
  list-style: none;
  background-color: var(--secondary-bg);
  border-radius: 8px;

  @include tablet {
    gap: 25px;
    padding: 32px 30px;
  }

  .double {
    grid-column: span 2;
  }
}
