.output {
  width: 100%;
  min-height: 100px;
  margin-bottom: 24px;
  padding: 10px 33px;
  line-height: 1.2;
  text-align: right;
  color: var(--text-contrast-color);
  background-color: var(--screen-bg);
  border-radius: 8px;

  @include tablet {
    min-height: 128px;
  }

  &__previous,
  &__current {
    margin: 0;
    word-break: break-all;
  }

  &__previous {
    min-height: 12px;
    margin-bottom: 4px;
    font-size: 14px;
    opacity: 0.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__current {
    font-size: 47px;
  }
}